.block-benefits {
  padding-top: 94px;
}

.benefits-ul {
  display: flex;
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-section-color);
  margin-bottom: 30px;
  height: 120px;
}

.benefits-ul .benefits-box + .benefits-box {
  margin-left: 30px;
}

.benefits-ul .benefits-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
}

.benefits-parafrag {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--additional-text-color);
}
