.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-styles {
  font-style: normal;
}

/* Оформлення ЛОГО у пілвалі */
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  font-family: "Raleway";
  color: #000000;
}

.text-studio-footer {
  color: var(--bg-color);
}

/* Контакти у підвалі */
.footer-contacts {
  color: var(--footer-adr-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts.address {
  color: var(--bg-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item:not(:first-child) {
  margin-top: 9px;
}

.footer-box {
  display: flex;
  align-items: baseline;
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-container {
  margin-right: 70px;
}
